<form action="/" method="post">
  <p>
    Your Idea:
  </p>
  <input type="text" name="idea[title]" placeholder="Title"/><br/>
  <textarea name="idea[description]" placeholder="Description"></textarea><br/>
  <input type="text" name="idea[tags]" placeholder="Tags(comma separated)" size="25"/><br/>
  <input type="submit"/>
</form>
<h3>Existing Ideas</h3>

  <form action="/search_results" method="get">
    <span>Search All Ideas:</span>
    <input type="text" name="query" placeholder="Enter Query">
    <input type="submit"/>
  </form>

  <form action="/single_tag" method="get" enctype="application/x-www-form-urlencoded">
    <span>View By Tag:</span>
    <select name="tag" display: inline>
    <% tags.map do |tag| %>
      <option value= "<%= tag %>"> <%= tag %></option>
    <% end %>
    </select>
    <input type="submit" display: inline>
  </form>
  <form action="/tags" method="get">
    <input type="submit" value="View By All Tags">
  </form>
<ul>
  <% ideas.each do |idea| %>
  <li>
    <%= idea.title %>(<%= idea.id %>)<br/>
    <%= idea.description %><br/>
    <strong>Tags:</strong> <%= idea.raw_tags %>
    <form action="/<%= idea.id %>/like" method="post" style="display: inline">
      <input type="submit" value="+">
    </form>
    <a href="/<%= idea.id %>/edit">Edit</a>
    <form action="/<%= idea.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  </li>
  <% end %>
</ul>
